# ==============================
# MQTT
# ==============================

MQTT_BROKER=test.mosquitto.org
MQTT_PORT=1883
MQTT_TOPIC=cci/SenseCAP


# ==============================
# SEUILS
# ==============================

TEMP_MAX=35
HUMIDITY_MAX=80
WIND_MAX=50


# ==============================
# SMTP
# ==============================

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

SMTP_USER=
SMTP_PASSWORD=

ALERT_EMAIL=